:root {
    --primary-color: #005FA5;
    --primary-light-color: #E3EdF5;
    --light-color: #F3F4F6;
}

.navbar-brand img {
    max-width: 250px !important;
    height: auto !important;
}

.bg-primary {
    background: var(--primary-color) !important;
}

.btn-primary {
    background: var(--primary-color) !important;
    color: white !important;
    border: 1px solid var(--primary-color) !important;
}

.btn-primary:hover {
    opacity: 0.8;
}

.nav-sidebar .nav-link.active {
    background: var(--primary-light-color) !important;
    color: var(--primary-color) !important;
}
